.divHeader {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 30px;
}

.total-header , .email-header {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 5px;
  margin-top: 30px;
}

.email-header {
  color: #2fc18c;
}

h4 {
  margin-left: 5px;
}

.coin {
  color: #003be5;
  height: 40px;
  width: 40px;
}

p {
  color: #003be5;
  margin-left: 5px;
}

.logo-header {
  margin-top: 30px;
  width: 250px;
}
