.total-wallet-form {
  background-color: #e1e5eb;
  box-shadow: 4px 4px 10px rgba(54, 53, 53, 0.3);
  display: flex;
  flex-wrap: wrap;
  height: 30vh;
}

.wallet-form {
  align-items: center;
  align-self: center;
  background-color: #e1e5eb;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  height: 18vh;
  margin: 0 9vw;
}

.wallet-form-sup {
  align-items: center;
  display: flex;
  flex-basis: 100%;
  justify-content: space-around;
}

.div-button-add {
  align-items: center;
  background-color: white;
  display: flex;
  height: 12vh;
  justify-content: center;
  width: 100%;
}

input , .button-add , select {
  border: 1px solid #003be5;
  border-radius: 5px;
  height: 30px;
}

input , select {
  background-color: #e1e5eb;
  color: #003be5;
}

.button-add {
  background-color: #2fc18c;
  border: 1px solid #2fc18c;
  color: white;
  height: 5vh;
  width: 23vw;
}

h4 {
  color: #003be5;
}

.description {
  width: 23vw;
}
